html body {
  background-color: aquamarine;
}
.numbers {
  position: relative;
  display: flex;
  width: 38rem;
  height: 38rem;
  border-radius: 50%;
  left: 50%;
  top: 10%;
  justify-content: space-around;
}
